* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: 'Century Gothic', sans-serif;
    font-size: 18px;
    color: #555;
}

.wrapper {
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

h2 {
    text-align:center;
}

.shop__element {
    display:grid;
    grid-template-columns: 10fr 1fr 1fr;
    margin: 2px;
    
    
}
.shop__element div {
    padding: 7px 15px;
    margin: 2px;
    background-color: #eee;
}
.closed{
    background-color: #555;
    color:#555;
}

.shop__element:hover div {
    background-color: rgb(134, 134, 134);
}

.selected {
    border: 1px dashed #aaa;
}

.shop__button {
    text-align:center;
    font-size: 20px;
    cursor:pointer;
}

.cart__element {
    display:grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
}

.cart__del, 
.cart__title, 
.cart__price, 
.cart__summ,
.itog

{
    padding: 7px 15px;
    margin: 2px;
    background-color: #eee;
}

.cart__plus,
.cart__minus,
.cart__centr {
    padding: 7px 15px;
    margin:2px 0;
    background-color: #eee;
}

.cart__minus,
.cart__plus {
    cursor:pointer;
}
    .itog{
        padding: 7px 15px;
        margin: 2px;
        /* background-color: #ffaeec; */
    }
.cart__count {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cart__plus, .cart__minus {
    background-color: #fff!important;
    border: 1px solid #eee;
}


.cart__del {
    cursor: pointer;
    background-color: #ac0101;
    color: #fff;
}

p {
    text-align:center;
    padding: 15px 0;
}
.itog__number{
    display: flex;}
    
.itog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}


















